{% block footer %}
    <footer class="col-md-12 " >
        <h2>My footer</h2>
        <a href="" class="text-reset btn-link" target="_blank">My Online Dj school Company</a> - All rights reserved
    </footer>
{% endblock %}