
{% extends 'base.html.twig' %}

{% block title %} DJ-school : Sign in {% endblock %}
{% block header %}
    {% include 'partials/connect_header.html.twig' %}
{% endblock %}
{% block content %}
    <section class="container mb-5 ">

            <div class="row align-items-top justify-content-center">
                <div class=" col-11 col-md-8  bg-black rounded-5 p-5 text-white">
                    <h2 class="h1">Register</h2>

                    {{ form_errors(registrationForm) }}

                    {{ form_start(registrationForm) }}

                    {{ form_widget(registrationForm) }}

                    <button type="submit" class="btn btn-primary ">Submit</button>
                    {{ form_end(registrationForm) }}

                </div>
            </div>


    </section >

{% endblock %}
