
{% for family in families %}

    <a class="  btn  btn-outline-light border-light  rounded-pill  ms-1  mb-2" href="{{ path('app_actu_family', {family:family.id}) }}">{{ family.name }}</a>
    {# <div class="row">       {% for course in category.course %}
         <div class="col-3">
             <p>{{ course.name }}</p>
         </div>

     {% endfor %}</div>#}

{% endfor %}

