{% block footer %}
    <footer class="col-md-12 mt-4 p-3" style="background-color: #d5d5d5; text-align: center">
        <a href="" class="text-reset btn-link" target="_blank">Webdev Company</a> - All rights reserved
    </footer>
{% endblock %}