{% extends 'base.html.twig' %}

{% block title %}Legal  : {% endblock %}
{% block header %}
    {% include 'banners/_banner_legal.html.twig' %}
{% endblock %}

 {% block content %}
    {% block sidebar %}
        {{ parent() }}
        <p>content</p>
        {% endblock %}
     <div class="container rounded-5  bg-dark my-5 ">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1. Introduction
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> What these terms cover :</strong><br> These are the terms and conditions on which we supply the courses, videos, and other audiovisual content to you (“Online Content”).</p>
                <p><strong> Why you should read them :</strong><br> Please read these terms carefully before submitting your order. These terms tell you who we are, how we will provide the Online Content, how you and we may change or end the contract, what to do if there is a problem, and other important information. If you think there is a mistake, please contact us.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                2. Information About Us and How to Contact Us
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Who we are :</strong><br> My digit Dj Online SA  , a company registered in Belgium under company registration number 0X0012, with our registered office at 8 Rue de Tivolli, 5940 Namur,+32 081 222222 Our VAT number is 3XX123456.</p>
                <p><strong> How to contact us :</strong><br> You can reach us at info@my-online-djschool.com or via our Contact Page.</p>
                <p><strong> How we may contact you :</strong><br> If we need to contact you, we will do so by email to the address you provided or by writing to the postal address you provided during your order.</p>
                <p><strong> “Writing” includes emails :</strong><br> References to “writing” or “written” in these terms include emails.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                3. Contract Formation
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Order process :</strong><br> Our order process allows you to review and correct errors before submitting your order. Ensure all details are correct before confirming.</p>
                <p><strong> When the contract is formed :</strong><br> A contract is created between you and us when your payment is processed, and you receive access to the Online Content.</p>
                <p><strong> Payment required before access :</strong><br> Access to Online Content requires full payment, either as a one-off charge or via subscription. If your payment is declined, access will be restricted.</p>
                <p><strong> Promotional codes :</strong><br> Promotional codes must be applied before making your payment. No refunds will be issued if a promotional code is applied after the purchase.</p>
                <p><strong> Changes to our terms :</strong><br> We reserve the right to amend these terms at any time. Your continued use of the Online Content signifies your acceptance of any updates.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                4. Refunds and Cancellations
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> 30-Day Money-Back Guarantee :</strong><br> You may request a refund within 30 days of purchasing individual courses or the Complete DJ Package (one-time payment only). Refunds for instalment payment plans are not available.</p>
                <p><strong> Refund requests :</strong><br> To request a refund, contact customer support via email or the Contact Page. Proof of purchase may be required.</p>
                <p><strong> Fair use policy :</strong><br> Refunds may be denied if it’s determined that a significant portion of the course content has been consumed or if the request is deemed unfair (see full Fair Use Policy below).</p>
                <p><strong> Monthly payment cancellations :</strong><br> Once you have requested a cancellation of the 3-month or 10-month full commitment payment plan, access to the content will be revoked immediately. No further payments will be processed, and you will not be eligible for a refund.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                5. Your Obligations
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Technical requirements :</strong><br> Ensure you have the necessary internet bandwidth and software to access and stream/download Online Content.</p>
                <p><strong> Personal use only :</strong><br> The Online Content is for your personal, non-commercial use. You may not share, distribute, or modify any part of the Online Content without our prior written consent.</p>
                <p><strong> No guarantees of qualifications or revenue :</strong><br> Our courses are for personal use and entertainment. We do not guarantee any specific qualifications or earnings.</p>
                <p><strong> Virus protection :</strong><br> You are responsible for protecting your devices from viruses. We do not warrant that the site will be free from viruses or other harmful content.</p>
                <p><strong> Prohibited behavior :</strong><br> You must not introduce malicious software, attempt unauthorized access to our systems, or engage in behavior that disrupts the functionality of the site. Breaches of this nature may result in immediate suspension of access.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                6. Ownership of Content
            </button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Intellectual property :</strong><br> All Intellectual Property Rights in and to the Online Content remain the property of My online dj school Limited or its licensors. You are granted a personal, non-exclusive, limited license to use the content as per these terms.</p>
                <p><strong> Restrictions on use :</strong><br> You may not reverse-engineer, decompile, or otherwise attempt to extract the source code of the Online Content.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                7. Charges and Payment
            </button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Price :</strong><br> Prices for Online Content are displayed on our website. Subscription fees are collected monthly or annually in advance.</p>
                <p><strong> Price increases :</strong><br> We will give you 30 days’ notice of any price increases, which will take effect at the end of your current subscription period.</p>
                <p><strong> Payment methods :</strong><br> We accept American Express, Mastercard, Visa, and PayPal.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                8. Changes to Online Content
            </button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Suspension :</strong><br> We may suspend access to the Online Content for maintenance or technical issues. We will notify you in advance whenever possible.</p>
                <p><strong> Refunds for suspended access :</strong><br> If suspension lasts longer than 30 days, we may offer a pro-rata refund or adjustment.</p>
                <p><strong> Modifications to Online Content :</strong><br> We reserve the right to modify, update, or discontinue any aspect of the Online Content without notice. These changes will not affect your rights under this contract, as long as they do not significantly reduce the value of the purchased content.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                9. Termination of Contract
            </button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Your rights to terminate :</strong><br> You may terminate the contract at any time if you do not agree with any material changes to the terms. No refunds will be provided unless expressly mentioned in these terms.</p>
                <p><strong>9.2 Our rights to terminate :</strong><br> We reserve the right to terminate the contract if you breach these terms, including non-payment or misuse of content.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                10. Fair Use Policy
            </button>
        </h2>
        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> General Fair Use Principles :</strong><br></p>
                <p>We ask that our users respect the spirit of fairness and integrity when using our services. Misuse of the content or services may result in account suspension or termination.</p>
                <p><strong> Individual Account Usage :</strong><br></p>
                <ul>
                    <li>Personal Use Only : Access to Online Content is for personal use only. Sharing account login details with others or using the content for commercial purposes is strictly prohibited.</li>
                    <li>Non-Transferability : Online Content purchased is licensed to you alone and is non-transferable.</li>
                </ul>
                <p><strong> Content Access and Consumption :</strong><br></p>
                <ul>
                    <li>Access Limits : Any excessive or abnormal usage that suggests account sharing may result in restricted access or account termination.</li>
                    <li>Prohibited Behaviors : You must not download, distribute, or modify any part of the Online Content beyond personal use. Using bots, scripts, or other automated tools to access content is prohibited.</li>
                </ul>
                <p><strong> Refund Policy and Fair Use Abuse :</strong><br></p>
                <ul>
                    <li>Significant Usage : If a substantial portion of the course content has been accessed before requesting a refund, the request may be denied.</li>
                    <li>Multiple Refund Requests : Repeated refund requests or refund requests after significant consumption of content may result in account termination or a denial of future refunds.</li>
                </ul>
                <p><strong> Account Suspension or Termination :</strong><br></p>
                <p>Investigation and Enforcement :</strong><br> We actively monitor accounts for signs of misuse or abuse of this Fair Use Policy. We may suspend or terminate accounts that violate these terms without prior notice.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingEleven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                11. Force Majeure
            </button>
        </h2>
        <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Force Majeure events :</strong><br> Neither party shall be liable for any failure or delay in performing its obligations under this contract if such failure or delay is caused by events beyond its reasonable control, including but not limited to natural disasters, strikes, pandemics, or governmental actions.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwelve">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                12. User-Generated Content
            </button>
        </h2>
        <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Content submission :</strong><br> If you submit any user-generated content (e.g., comments or reviews), you grant us a non-exclusive, royalty-free, perpetual, and irrevocable right to use, modify, display, and distribute your content in connection with the Online Content and our business.</p>
                <p><strong> Responsibility for content :</strong><br> You are solely responsible for any content you submit and warrant that it does not infringe upon the rights of any third party.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThirteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                13. Limitation of Liability
            </button>
        </h2>
        <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Foreseeable loss and damage :</strong><br> We are only liable for foreseeable loss or damage caused by our failure to use reasonable care and skill. We are not liable for business losses or any indirect, special, or consequential losses.</p>
                <p><strong> Maximum liability :</strong><br> Our total liability is capped at the amount you have paid for the relevant Online Content.</p>
                <p><strong> Exclusions :</strong><br> We exclude all conditions, warranties, and representations that may apply to our site or any content, except where prohibited by law.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFourteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                14. Disclaimers
            </button>
        </h2>
        <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> No warranties :</strong><br> We do not guarantee that the Online Content will be error-free, uninterrupted, or deliver specific results.</p>
                <p><strong> Seek professional advice :</strong><br> The content on our site is for general information purposes only and should not be relied upon as professional or legal advice.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFifteen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                15. Governing Law and Jurisdiction
            </button>
        </h2>
        <div id="collapseFifteen" class="accordion-collapse collapse" aria-labelledby="headingFifteen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <p><strong> Governing law :</strong><br> These terms are governed by Belgium law.</p>
                <p><strong> Jurisdiction :</strong><br> You may bring legal proceedings in Belgium courts.</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
