<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8">
            <div class="d-flex justify-content-between ">
                <i class="icofont-youtube-play our-socials"></i>
                <i class="icofont-discord our-socials "></i>
                <i class="icofont-facebook our-socials "></i>
                <i class="icofont-soundcloud our-socials "></i>
                <i class="icofont-tiktok our-socials "></i>
            </div>
        </div>
    </div>
</div>