{% extends 'admin/base.html.twig' %}

{% block title %}Modifier l'actu{% endblock %}
{% block body %}
    <div class="col p-3 offset-1">
        <div class="row">
            <h2 class="col-10">Modifiez une actu</h2>
            <div class="col">
                <a href="{{ path('app_admin_course') }}" class="btn btn-outline-dark">Retour</a>

            </div>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" class="btn btn-outline-dark">
        {{ form_end(form) }}
    </div>
{% endblock %}