{% extends 'admin/base.html.twig' %}

{% block title %}form template{% endblock %}

{% block body %}

    <div class="col bg-dark m-2 rounded-2">
        {{ form_start(form) }}

        {{ form_end(form) }}

    </div>


{% endblock %}

