
<div class="hero-section d-flex flex-column text-center justify-content-between pb-3">
    <div class="container pt-5" >
        <h1 class=" text-light mt-5">LEARN TO DJ</h1>
    </div>
    <div class="container pb-5">
        <h2>online DJ courses for all level & all skills</h2>
        <h2>on every hardware</h2>
        <a href="{{ path('app_courses') }}" class="btn rounded-pill bg-warning text-primary" >Our courses</a>
    </div>
</div>

