{% extends 'base.html.twig' %}
<section id="title">
    <h1 class=" invisible ">online-dj-school
    </h1>
</section>

{% block title %}Edit comment{% endblock %}
{% block content %}
    <section class="row">
        <div class="col-md-6 offset-3">
            <h2 class="display-6">Your comment has been moderated.</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-between">
                <input type="submit" value="Ajouter" class="btn btn-outline-dark">
            </div>

            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}
