{% extends 'base.html.twig' %}


{% block title %}Dj-school : contact{% endblock %}
{% block header %}
    {% include 'partials/connect_header.html.twig' %}
{% endblock %}

{% block content %}
    <section class="container mb-5">
    <div class="row ">
        <div id="contactus" class=" col-sm-12 col-md-8  offset-md-2 bg-black rounded-5 p-5 text-white">
            <h2 class="display-4">Nous contacter</h2>
            {{ form_start(form) }}

            {{ form_end(form) }}
        </div>
    </div>
    </section >
{% endblock %}