<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}online-DJ-school : {% endblock %}</title>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}"/>

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}

</head>
<body>
<header>
    {% include 'partials/nav.html.twig' %}
    {% block header %}


    {% endblock %}

</header>





<main>
    {% include 'partials/flash.html.twig' %}
    {% block content %}

        <h2>FELIX A UN GROS KIKI</h2>
´{% block sidebar %}
        <div class="row">
            <div class="col-3">

<h2>This is a side bar</h2></div></div>
    {% endblock %}

    {% endblock %}


</main>

{% block footer %}

{% include 'partials/footer.html.twig' %}
{% endblock  %}


</body>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</html>
