{% extends 'base.html.twig' %}

{% block title %}Profil : Editer{% endblock %}
{% block body %}
    <section class="row">
        <div class="col-md-6 offset-3">
            <h2 class="display-4">Modifiez mon profil</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="d-flex justify-content-between">
                <input type="submit" value="Ajouter" class="btn btn-outline-dark">
            </div>

            {{ form_end(form) }}

        </div>
    </section>
{% endblock %}
