{% extends 'base.html.twig' %}


{% block title %}Profil{% endblock %}
{% block header %}
    {% include 'user/partials/_banner_profil.html.twig' %}
{% endblock %}
{% block content %}
    <div class="bg-primary">
<section class="container bg-primary">

   {{ include ('user/fragments/_profil.html.twig') }}
    </div>
</section>


{% endblock %}
